<!-- *********************************************************************** -->
<!--                                                                         -->
<!--                                                      :::      ::::::::  -->
<!-- index.html                                         :+:      :+:    :+:  -->
<!--                                                  +:+ +:+         +:+    -->
<!-- By: kmorimot <kmorimot@student.42tokyo.>       +#+  +:+       +#+       -->
<!--                                              +#+#+#+#+#+   +#+          -->
<!-- Created: 2020/12/26 15:20:12 by kmorimot          #+#    #+#            -->
<!-- Updated: 2020/12/26 15:20:19 by kmorimot         ###   ########.fr      -->
<!--                                                                         -->
<!-- *********************************************************************** -->

<!--
  v-ifを使ってインスタンスのプロパティの真理値によってメッセージを表示・非表示させる
-->

<!-- 
  ディレクティブとは、htmlタグの中に定義できるVue.js独自の属性のことです。
  ディレクティブは、それ自身をVueインスタンスのプロパティやインスタンスの文脈の中で
  評価される表現にバインドすることができます。
  例えば今回のコードだと、インスタンスのプロパティseenをv-if="seen"というように紐付けて(バインド)できる
  配下のプロパティや表現の値が変更されたら、それらのディレクティブの update() 関数が同期的に呼ばれます。
  v-if 条件に応じて表示させるhtml要素を動的に変更する際に使用します。
  ディレクティブの式が真を返す場合のみ描画されます。
  v-else で “else ブロック” を追加することも可能
-->

<!DOCTYPE html>
<html>
<head>
  <title>My first Vue app</title>
  <script src="https://unpkg.com/vue"></script>
</head>
<body>
  <div id="app">
    <p v-if="seen">{{ message }}</p>
  </div>

  <script>
    var app = new Vue({
      el: '#app',
      data: {
        message: 'Hello Vue!',
        seen: true
      }
    })
  </script>
</body>
</html>
